<head>
    {{ form.media }}
    {% load humanize %}
</head>
<div class="row container-box justify-content-center">
    <div class="col-md-10 box align-self-center m-md-2 p-md-3">
        <div class="card">
            <div class="card-header">
                <h2 class="title">Submit Your Request</h2>
            </div>
            <form role="form" method="post" action="">
                {% csrf_token %}
                <div class="card-body">
                    {% if id %}
                        <div class="row">
                            <div class="col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label for="id_id">ID</label>
                                    <input type="text" name="id" value="{{ id }}"
                                           class="form-control" disabled id="id_id">
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>First Name</label>
                                {{ form.first_name }}
                            </div>
                        </div>

                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Last Name</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Phone Number</label>
                                {{ form.phone_number }}
                            </div>
                            <span class="text-danger">{{ form.phone_number.errors }}</span>
                        </div>
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Description</label>
                                {{ form.description }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Start Date</label>
                                {{ form.start_time }}
                            </div>
                            <span class="text-danger">{{ form.start_time.errors }}</span>
                        </div>

                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>End Date</label>
                                {{ form.end_time }}
                            </div>
                            <span class="text-danger">{{ form.end_time.errors }}</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Service Type</label>
                                <div class="dropdown-items">
                                    {{ form.service_type }}
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3 pr-md-1">
                            <div class="form-group">
                                <label>Patient Gender</label>
                                <div class="dropdown-items">
                                    {{ form.gender }}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 pr-md-1">
                            <div class="form-group">
                                <label>Urgency</label>
                                <div class="dropdown-items">
                                    {{ form.urgency }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                    </div>

                    <div class="row">

                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Address</label>
                                {{ form.address_details }}
                            </div>
                        </div>
                        {% if id %}
                            <div class="col-md-6 pr-md-1">
                                <div class="form-group">
                                    <label>
                                        Price
                                    </label>
                                    <input type="text" readonly value="{{ ad_price|intcomma }} IRR" class="form-control">

                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="row">

                        <div class="col-md-6 pr-md-1">
                            <div class="form-group">
                                <label>Location</label>
                                <div class="m-md-2">
                                    {{ form.address_location }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p>
                        <button type="submit" name="submit-ad" class="btn btn-fill btn-primary">Submit Ad</button>
                    </p>
                    {% if not user.is_authenticated %}
                        <p>Return to <a class="text-primary" href="{% url 'init' %}">Main Page</a></p>
                        <p>Have an account? <a class="text-primary" href="{% url 'login' %}">Login</a></p>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
