::-webkit-file-upload-button {
    border-width: 2px;
    border: none;
    position: relative;
    overflow: hidden;
    /* margin: 2px 6px; */
    border-radius: 0.4285rem;
    cursor: pointer;
    background: #344675;
    background-image: linear-gradient(to bottom left, #344675, #263148, #344675);
    background-size: 210% 210%;
    background-position: top right;
    background-color: #344675;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;

    padding: 5px 10px;
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

.pt-1 button {
    align-content: center;
    width: 100%;
    display: block;
}

form {
    margin: auto;
}

.register-title {
    color: rgba(255, 255, 255, 0.95)
}

.login-title {
    color: rgba(255, 255, 255, 0.95)
}