.container-box {
  position: absolute;
  left: 0px;
  width: 100%;
  margin: auto;
  top: 100px;
}

.box {
  margin: auto;
}

form {
  width: 100%;
}

.card-body .row {
  margin: auto;
  width: 100%;
}

.card-footer {
  text-align: center;
}

