{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Init Start {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<script  type="text/javascript">
  function run_function(params) {
      console.log("paramssssssss:", params);
       $.ajax({
      url: "random_url/", // the endpoint
      type: "GET", // http method

      // handle a successful response
      success: function(json) {
        console.log("success"); // another sanity check
      },

      // handle a non-successful response
      error: function(xhr, errmsg, err) {
        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
      }
    });
  }
</script>
        <div class="row">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="post" action="">
              
                {% csrf_token %} 

                <div class="card-header">
                  <h5 class="title">Welcome to TeleNurse =)</h5>

                  {% comment %} <h6 class="card-category">
                      {% if msg %}
                        <span class="text-danger">{{ msg }}</span>
                      {% else %}
                        Add your credentials
                      {% endif %}  
                  </h6> {% endcomment %}
                </div>

                <div class="card-body">
                  <a class="btn btn-fill btn-primary" href="/login">Go To Login Page</a>
                  <a class="btn btn-fill btn-primary" href="/submit-request">Submit Request</a>
                </div>

              </form>

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
