{% extends "layouts/base.html" %}

{% block title %} Page 404 {% endblock %}

{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/ads/ads.css' %}">

{% if ads %}
<h2>There are <b>{{ ads|length }} ads</b> available:</h2>
<div class="grid-container">
    {% for ad in ads %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"><b>Patient:</b> {{ ad.first_name }} {{ ad.last_name }}</h4>
            <div>
                <p class="card-text"><b>Requested Service:</b> {{ ad.service_type }}</p>
            </div>
            <div>
                <p class="card-text"><b>Sex:</b> {{ ad.sex }}</p>
            </div>

            <div>
                <p class="card-text"><b>Address:</b> {{ ad.address }}</p>
            </div>

            <div>
                <p class="card-text"><b>Phone Number:</b> {{ ad.phone_number }}</p>
            </div>

            <div class="card-footer">
                <button class="btn btn-primary" onclick="button_click()">Accept</button>
            </div>


        </div>
    </div>
    {% endfor %}
</div>

{% else %}
There are no records in the system
{% endif %}


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script type="text/javascript">
    function button_click() {
        console.log("salam")
    }
</script>
{% endblock javascripts %}