{% extends "layouts/base.html" %}
{% load static %}
{% block extra_head %}
    <style>
        #map {
            height: 400px;
            margin: 16px 125px 16px 16px;
        }
    </style>
{% endblock extra_head %}

{% block title %} Locations {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block onloadcall %}init_theme('{{ request.user.username }}');line_startup();{% endblock onloadcall %}

{% block content %}

    <link rel="stylesheet" href="{% static 'assets/css/home/nurse-location.css' %}">

    <div class="row">
        <div class="col-md-12">
            <div class="card card-tasks">
                <div class="card-header">
                    <h1 class="card-title"> Locations </h1>
                </div>
                <div id="map"></div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                            <tr>
                                <th>
                                </th>
                                <th>
                                    Nurse Username
                                </th>
                                <th>
                                    AD ID
                                </th>
                                <th>
                                    Show Route
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                {% for line in lines %}
                                    <td>
                                        <div class="photo card avatar">
                                            <img src="{{ line.nurse_ad.nurse.get_avatar_url }}" alt="Profile Photo">
                                        </div>
                                    </td>
                                    <td>
                                        {{ line.nurse_ad.nurse.username }}
                                    </td>
                                    <td>
                                        {{ line.nurse_ad.ad_id }}
                                    </td>
                                    <td>
                                        <button class="btn btn-fill btn-primary"
                                                onclick="show_line_on_map({{ line.get_geojson_feature }})">Show route
                                        </button>
                                    </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
